html{
    text-align: center;
    margin:0 auto ;
    width: 600px;
    background-color: rgb(238, 209, 131);
}
img{
    width: 100px;
    height: auto;
}
div{
    width: 200px;
    height: 50px;
    background-color: sandybrown;
    margin-left: 200px;
    font-size: 1px;
}
span{
    width: 100px;
    height: 500px;
    background-color: gold;
    font-size: 40px;
}
h1{
    width: 500px;
    height: 40px;
    background-color: rgb(233, 209, 180);
    border: 3px solid rgb(49, 35, 233);
}
.list{
    font-size: 0px;
    background-color: rgb(145, 15, 15);
    border: 3px solid rgb(55, 226, 203);
    width: 200px;
    height: 200px;
}
.card{
    display: inline;
    margin:0 auto;
    font-size: 23px;
    width: 200px;
    height: 200px;
    padding: 10px; 
    margin: 10px;
    background-color: #fff;
    border: 3px solid rgb(212, 55, 226);
    /* outline: 3px solid salmon; */
    border-radius: 50%;
    /* box-sizing: border-box; */ 
    
}