html{
    background-color: rgba(0, 0, 0, 0);
}
body{
    font-size: 20px;
    margin: auto;
    color: #ffffff;    
    background-color: rgba(0, 0, 0, 0);
}
.bgpart{
    content: ' ';
    display: block;
    position: absolute;        
    width: 100%;
    height: 100%; 
    background-image: url("../image/posterPrec.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 140%;    
    background-position: left 50% top 25%;    
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    z-index: 0;
}
.topp{        
    position: relative;
    background-image: url("../image/woodbar.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 50%; 
    z-index: 999;   
}
.san{    
    float: left;
}
.progress{
    margin-top: 10px;
    margin-left: 3px;    
    float: left;
    width: 25%;
    height: 15px;
}
.teamname{
    float: right;
}
.react{
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    background-color: rgba(45, 140, 220, 0.8);    
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    width: 50%;
    height: 65%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);    
    border-width: 5px;
    border-style: dashed;
    border-color: yellow;
    /*visibility: hidden;*/
    z-index: 2;
}
.blackk{
    clear: both;
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);    
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}
.bott{
    clear: both;
    background-image: url("../image/woodbar.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-size: 50%;    
    background-repeat: repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;  
    text-align:center;    
    z-index: 999;
}

.redeem,.chkcurse,.bpack,.setting {  
    font-size: 16px;  
    clear:both;
    box-sizing: border-box;
    display: inline-block;
    margin:0 auto;        
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    width: 20%;
}
.spellinput{
    width: 65%;
    text-align: center;
}
.dialog{
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    width: 15%;
    border:1px solid #e5ff00;
    background-color: #700000;
    box-shadow:0px 0px 10px;
    padding: 10px;
    transform:translate(-50%,0%);
    display:none;
    z-index: 3;
}
.dialog>.close{
    position: absolute;
    top: 0px;
    right: 5px;
    cursor:pointer;/*cursor游標pointer指針:改變鼠標*/
}
/*html{
    text-align: center;
    margin:0 auto ;
    width: 600px;
    background-color: rgb(238, 209, 131);
}
img{
    width: 100px;
    height: auto;
}
div{
    width: 200px;
    height: 50px;
    background-color: sandybrown;
    margin-left: 200px;
    font-size: 1px;
}
span{
    width: 100px;
    height: 500px;
    background-color: gold;
    font-size: 40px;
}
h1{
    width: 500px;
    height: 40px;
    background-color: rgb(233, 209, 180);
    border: 3px solid rgb(49, 35, 233);
}
.list{
    font-size: 0px;
    background-color: rgb(145, 15, 15);
    border: 3px solid rgb(55, 226, 203);
    width: 200px;
    height: 200px;
}
.card{
    display: inline;
    margin:0 auto;
    font-size: 23px;
    width: 200px;
    height: 200px;
    padding: 10px; 
    margin: 10px;
    background-color: #fff;
    border: 3px solid rgb(212, 55, 226);
    outline: 3px solid salmon; 
    border-radius: 50%;
    box-sizing: border-box; 
    
}
*/